* {
    background-color: rgb(28, 10, 76);
    color: rgb(150, 116, 29);
}

.background-boxes {
    margin: auto;
    padding-left: 30px;
    width: 500px;
    height: 100vh;
    background: rgb(181, 231, 243);
    padding: 20px;
}

.title {
    margin-top: 50px;
    font-size: 32px;
    padding: 15px;
    margin-bottom: 30px;
}

.Links {
    font-style: italic;
    font-size: 18px;
    box-sizing: border-box;
    padding: 50px;
    height: 400px;
}

li {
    margin-bottom: 20px;
}

li a:hover {
    background-color: rgb(200, 120, 169);
}

/* Css specifically for Chicken Tenders Recipe page */

.Chicken-Tenders-Recipe {
    font-style: italic;
    text-align: center;
    font-size: 40px
}

.Steps, .Description, .Ingredients{
    text-decoration:  underline;
}
.image {
    display: block;
    margin: auto;
    width: 30%;
}
.Like, .Dislike {
    color: black;
}

.Like {
    background-color: rgb(245, 240, 240)
}
.Dislike {
    background-color: rgb(248, 8, 8)
}
